* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: honeydew;
    --accent-color: palegreen;
    --text-color: dimgray;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

/*
Header section styles
*/

header {
    background-color: var(--accent-color);
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px var(--text-color);
    left: 0;
    padding: 5px 25px 5px 25px;
    position: fixed;
    margin: auto;
    max-width: 800px;
    right: 0;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    width: 100%;
    z-index: 1;
}

.logo-container h1 {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 1.3rem;
}

.divider-container {
    padding: 0 15px 0 15px;
}

.divider-container p {
    color: var(--text-color);
    font-family: Consolas, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

.links-container {
    flex: 1;
}

.links-container ul {
    display: flex;
    flex-direction: row;
    font-family: Courier New, Monospace;
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: space-between;
    list-style-type: none;
}

.links-container li {
    text-transform: lowercase;
}

.links-container li a {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s;
}

.links-container li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}

.menu-button-container {
    background-color: var(--accent-color);
    display: none;
    font-size: 1.3rem;
    padding: 0 10px 0 0;
    text-align: right;
}

.menu-button-container button {
    background-color: var(--accent-color);
    border: none;
}

.menu-button-container i {
    color: var(--text-color);
    transition: 0.2s;
}

.menu-button-container i:hover {
    transform: scale(1.1);
}

.menu-button-container button:nth-child(1) {
    display: block;
}

.menu-button-container button:nth-child(2) {
    display: none;
}

header.menu-open .menu-button-container button:nth-child(1) {
    display: none;
}

header.menu-open .menu-button-container button:nth-child(2) {
    display: block;
}

/*
Header media queries
*/

@media screen and (max-width: 700px) {
    header nav {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .logo-container {
        //flex: 1 1 auto;
        margin: auto;
    }

    .logo-container h1 {
        margin: auto;
        text-align: center;
    }

    .divider-container {
        display: none;
    }

    .links-container {
        display: none;
        flex-basis: 100%;
        order: 3;
    }

    .links-container ul {
        align-items: center;
        flex-direction: column;
    }

    .links-container li {
        padding: 5px 0 0 0;
    }

    .menu-button-container {
        display: block;
    }

    header.menu-open .links-container {
        display: block;
    }

    header.menu-open .logo-container h1 {
        border-bottom: 2px solid var(--text-color);
        padding: 0 0 2px 0;
    }
}

/*
Welcome section styles
*/

main {
    height: 100dvh;
    flex: 1;
    padding: 0 30px 0 30px;
}

.welcome-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100dvh;
    justify-content: center;
}

.job-number-container,
.interview-number-container,
.offer-number-container {
    text-align: center;
}

.job-number-container p,
.interview-number-container p,
.offer-number-container p {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 5rem;
    font-weight: bold;
    opacity: 0;
}

.job-number-container h2,
.interview-number-container h2,
.offer-number-container h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    padding: 0 10px 0 10px;
    text-transform: lowercase;
    width: fit-content;
}

/*
Welcome section media queries (width)
*/

@media screen and (max-width: 400px) {
    .start-date-container {
        font-size: 1rem;
    }

    .job-number-container p,
    .interview-number-container p {
        font-size: 4rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 315px) {
    .job-number-container p,
    .interview-number-container p {
        font-size: 3.5rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.5rem;
    }    
}

@media screen and (max-width: 250px) {
    main {
        padding: 0 20px 0 20px;
    }

    .job-number-container p,
    .interview-number-container p {
        font-size: 3rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.2rem;
    }
}

/*
About section styles
*/

.about-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.description-container {
    line-height: 1.4;
    margin: auto;
    max-width: 500px;
    text-align: justify;
}

.description-container p {
    color: var(--text-color);
    font-family: Consolas, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

#warning {
    color: indianred;
}

.warning {
    text-decoration: underline;
    text-transform: uppercase;
}

/*
About section media queries (width)
*/

@media screen and (max-width: 400px) {
    .about-section h2 {
        font-size: 2rem;
    }

    .description-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 315px) {
    .about-section h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 250px) {
    .about-section h2 {
        font-size: 1.2rem;
    }
}

/*
Data section styles
*/

.data-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

/*
Data section media queries
*/

@media screen and (max-width: 400px) {
    .data-section h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 315px) {
    .data-section h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 250px) {
    .data-section h2 {
        font-size: 1.2rem;
    }
}

/*
Applications section styles
*/

.applications-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.list-container ol {
    list-style-type: none;
}

.list-container ol > li {
    display: none;
}

.list-container ol li ul {
    padding: 15px 0 15px 0;
}

.list-container ol li ul li {
    color: var(--text-color);
    font-family: Consolas, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4;
    list-style-type: none;
}

.button-container {
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 500px;
}

.button-container button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    margin: 30px auto 30px auto;
}

.button-container h3 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2rem;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    transition: 0.3s;
    width: fit-content;
}

.button-container h3:hover {
    transform: scale(1.1);
}

/*
Applications section media queries
*/

@media screen and (max-width: 400px) {
    .applications-section h2 {
        font-size: 2rem;
    }

    .list-container ol,
    .list-container ol li ul li {
        font-size: 1rem;
    }

    .button-container h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 315px) {
    .applications-section h2 {
        font-size: 1.5rem;
    }

    .button-container h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 250px) {
    .applications-section h2 {
        font-size: 1.2rem;
    }
}

/*
Footer styles
*/

footer {
    background-color: var(--background-color);
    text-align: center;
}

footer img {
    padding: 0 0 8px 0;
    width: 30px;
}

footer p {
    color: var(--text-color);
    font-family: Consolas, Monospace;
    font-size: 1rem;
    padding: 10px 0 10px 0;
}

/*
Footer media queries
*/

@media screen and (max-width: 400px) {
    footer img {
        width: 25px;
    }

    footer p {
        font-size: 0.8rem;
    }
}