* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: honeydew;
}

body {
    background-color: var(--background-color);
    margin: auto;
    max-width: 1000px;
}

/*
Header styles
*/

header {
    height: 100dvh;
    overflow: hidden;
    position: fixed;
    width: 60px;
}

.header-icon-logo-container {
    text-align: center;
}

.header-icon-logo-container i {
    font-size: 2rem;
    padding: 15px 0 15px 0;
}

.header-text-logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-text-logo-container h1 {
    font-family: Monospace;
    font-size: 2rem;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

/*
Header media queries (width)
*/

@media screen and (max-width: 500px) {
    header {
        width: 40px;
    }

    .header-icon-logo-container i,
    .header-text-logo-container h1 {
        font-size: 1.5rem;
    }
}

/*
Header media queries (height)
*/

@media screen and (max-height: 500px) {
    header {
        display: flex;
        height: 40px;
        width: 100%;
    }

    nav {
        display: flex;
    }

    .header-icon-logo-container {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 40px;
    }

    .header-icon-logo-container i {
        padding: 0 0 0 0;
    }

    .header-icon-logo-container i,
    .header-text-logo-container h1 {
        font-size: 1.5rem;
    }

    .header-text-logo-container h1 {
        text-orientation: initial;
        writing-mode: horizontal-tb;
    }
}

/*
Main page styles
*/

main {
    height: 100dvh;
    margin: 0 0 0 60px;
}

.jobs-applied-container {
    text-align: center;
}

.jobs-applied-container h2 {
    font-family: Courier New, Monospace;
    font-size: 3rem;
    text-transform: uppercase;
}

.jobs-applied-container p {
    font-family: Monospace;
    font-size: 1.5rem;
    padding: 0 0 30px 0;
}

.jobs-applied-container b {
    font-family: Courier New, Monospace;
    font-size: 6rem;
}

/*
Header media queries (height)
*/

@media screen and (max-height: 500px) {
    main {
        padding: 40px 0 0 0;
    }
}

/*
About page styles
*/

/*
Footer styles
*/