* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: honeydew;
    --text-color: dimgray;
}

body {
    background-color: var(--background-color);
}

/*
Main styles
*/

main {
    height: 100dvh;
    padding: 0 20px 0 20px;
}

.welcome-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100dvh;
    justify-content: center;
}

.start-date-container {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    font-family: Courier New, Monospace;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: fit-content;
}

.start-date-container p {
    color: var(--text-color);
}

.job-number-container,
.interview-number-container {
    text-align: center;
}

.job-number-container p,
.interview-number-container p {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 5rem;
}

.job-number-container h2,
.interview-number-container h2 {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    padding: 0 10px 0 10px;
    text-transform: lowercase;
    width: fit-content;
}

.about-section h2,
.applications-section h2 {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.description-container {
    margin: auto;
    max-width: 500px;
    text-align: justify;
}

.description-container p {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

.list-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.list-container ol {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

.list-container ol li ul {
    padding: 15px 0 15px 0;
}

.list-container ol li ul li {
    font-family: Courier New, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    list-style-type: none;
}

/*
Main media queries (width)
*/

@media screen and (max-width: 350px) {
    padding: 0 10px 0 10px;
}

/*
About styles
*/

/*
Footer styles
*/