* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: honeydew;
    --text-color: dimgray;
}

body {
    background-color: var(--background-color);
    margin: auto;
    max-width: 1000px;
}

/*
Header styles
*/

header {
    background-color: var(--background-color);
    overflow: hidden;
    position: fixed;
    width: 60px;
}

.header-icon-logo-container {
    text-align: center;
}

.header-icon-logo-container i {
    color: var(--text-color);
    font-size: 2rem;
    padding: 15px 0 15px 0;
}

.header-text-logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-text-logo-container h1 {
    color: var(--text-color);
    font-family: Monospace;
    font-size: 2rem;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

/*
Header media queries (width)
*/

@media screen and (max-width: 500px) {
    header {
        width: 40px;
    }

    .header-icon-logo-container i {
        padding: 10px 0 10px 0;
    }

    .header-icon-logo-container i,
    .header-text-logo-container h1 {
        font-size: 1.5rem;
    }
}

/*
Header media queries (height)
*/

@media screen and (max-height: 500px) {
    header {
        display: flex;
        height: 40px;
        width: 100%;
    }

    nav {
        display: flex;
    }

    .header-icon-logo-container {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 40px;
    }

    .header-icon-logo-container i {
        padding: 0 0 0 0;
    }

    .header-icon-logo-container i,
    .header-text-logo-container h1 {
        font-size: 1.5rem;
    }

    .header-text-logo-container h1 {
        text-orientation: initial;
        writing-mode: horizontal-tb;
    }
}

/*
Main styles
*/

main {
    height: 100dvh;
    padding: 0 65px 0 65px;
}

.welcome-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100dvh;
    justify-content: center;
}

.start-date-container {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    font-family: Courier New, Monospace;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: fit-content;
}

.start-date-container p {
    color: var(--text-color);
}

.job-number-container,
.interview-number-container {
    text-align: center;
}

.job-number-container p,
.interview-number-container p {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 5rem;
}

.job-number-container h2,
.interview-number-container h2 {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    padding: 0 10px 0 10px;
    text-transform: lowercase;
    width: fit-content;
}

.about-section h2,
.applications-section h2 {
    border-bottom: 4px solid var(--text-color);
    border-top: 4px solid var(--background-color);
    border-radius: 50px;
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.description-container {
    margin: auto;
    max-width: 600px;
    text-align: justify;
}

.description-container p {
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

/*
Main media queries (width)
*/

@media screen and (max-width: 500px) {
    main {
        padding: 0 45px 0 45px;
    }
}

/*
About styles
*/

/*
Footer styles
*/