* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: honeydew;
    --accent-color: palegreen;
    --text-color: dimgray;
}

body {
    background-color: var(--background-color);
}

/*
Welcome section styles
*/

main {
    height: 100dvh;
    padding: 0 30px 0 30px;
}

.welcome-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100dvh;
    justify-content: center;
}

.job-number-container,
.interview-number-container,
.offer-number-container {
    text-align: center;
}

.job-number-container p,
.interview-number-container p,
.offer-number-container p {
    color: var(--text-color);
    font-family: Monospace;
    font-size: 5rem;
    opacity: 0;
}

.job-number-container h2,
.interview-number-container h2,
.offer-number-container h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    padding: 0 10px 0 10px;
    text-transform: lowercase;
    width: fit-content;
}

/*
Welcome section media queries (width)
*/

@media screen and (max-width: 400px) {
    .start-date-container {
        font-size: 1rem;
    }

    .job-number-container p,
    .interview-number-container p {
        font-size: 4rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 315px) {
    .job-number-container p,
    .interview-number-container p {
        font-size: 3.5rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.5rem;
    }    
}

@media screen and (max-width: 250px) {
    main {
        padding: 0 20px 0 20px;
    }

    .job-number-container p,
    .interview-number-container p {
        font-size: 3rem;
    }

    .job-number-container h2,
    .interview-number-container h2 {
        font-size: 1.2rem;
    }
}

/*
About section styles
*/

.about-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.description-container {
    line-height: 1.4;
    margin: auto;
    max-width: 500px;
    text-align: justify;
}

.description-container p {
    color: var(--text-color);
    font-family: Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

#warning {
    color: indianred;
}

.warning {
    text-decoration: underline;
    text-transform: uppercase;
}

/*
About section media queries (width)
*/

@media screen and (max-width: 400px) {
    .about-section h2 {
        font-size: 2rem;
    }

    .description-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 315px) {
    .about-section h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 250px) {
    .about-section h2 {
        font-size: 1.2rem;
    }
}

/*
Data section styles
*/

.data-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

/*
Data section media queries
*/

@media screen and (max-width: 400px) {
    .data-section h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 315px) {
    .data-section h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 250px) {
    .data-section h2 {
        font-size: 1.2rem;
    }
}

/*
Applications section styles
*/

.applications-section h2 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2.5rem;
    margin: 30px auto 30px auto;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    width: fit-content;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.list-container ol {
    list-style-type: none;
}

.list-container ol > li {
    display: none;
}

.list-container ol li ul {
    padding: 15px 0 15px 0;
}

.list-container ol li ul li {
    color: var(--text-color);
    font-family: Monospace;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4;
    list-style-type: none;
}

.button-container {
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 500px;
}

.button-container button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    margin: 30px auto 30px auto;
}

.button-container h3 {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: 0 4px var(--text-color);
    color: var(--text-color);
    font-family: Courier New, Monospace;
    font-size: 2rem;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: lowercase;
    transition: 0.3s;
    width: fit-content;
}

.button-container h3:hover {
    transform: scale(1.1);
}

/*
Applications section media queries
*/

@media screen and (max-width: 400px) {
    .applications-section h2 {
        font-size: 2rem;
    }

    .list-container ol,
    .list-container ol li ul li {
        font-size: 1rem;
    }

    .button-container h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 315px) {
    .applications-section h2 {
        font-size: 1.5rem;
    }

    .button-container h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 250px) {
    .applications-section h2 {
        font-size: 1.2rem;
    }
}

/*
Footer styles
*/

footer {
    background-color: var(--background-color);
    padding: 10px 0 10px 0;
    text-align: center;
}

footer p {
    color: var(--text-color);
    font-family: Monospace;
    font-size: 1rem;
}